@use 'globals/variables';

.title{
    font-size: 12rem;
}

.hidden{
    opacity: 0;
    transform: translateY(50px);
    filter: blur(10px);
    transition: all 0.8s ease; 
}

.show{
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}